
a{text-decoration:none;}
.title_nav{font-family:'Optima'; color:#000;}
#title_thead img{display:block;}

#book_thead{background-color:#000; color:#fff;}
#book_tbody:nth-of-type(even){background-color:#ddd;}
//#book_tbody:nth-of-type(odd){background-color:#F3F3F3;}